.i_header{width:100%;height:65px;position:fixed; z-index:999999;left:0;top:0;}
.header{width:100%;height:65px; z-index:999999;left:0;top:0;border-bottom:1px solid #d2d2d2}
.header .logo{float:left;margin-top:5px;}
.header .logo a{display:block;}
.nav{float:right;}
.nav ul{padding-top:20px;}
.nav li{float:left;}
.nav li a{display:block;font-size:18px;color:#222;padding:0 25px;}
.nav li a:hover,.nav li a.curr{color:#1bbbff;}




